@import url(https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap);

* {
  font-family: "kanit", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-color: #dee5f3;
  --primary-color: #7952b3;
  --primary-color-light: #bea6e1;
  --toggle-color: #f2f7fd;
  --text-color: #707070;
  --alert-color: #ffcccc;
  --alert-text-color: #d8000c;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--body-color);
}

/* Styles specific to forgot_password.ejs */
.forgot-wrapper {
  width: 450px;
  border-radius: 30px;
  padding: 30px 40px;
  background-color: var(--toggle-color);
}

/* Header wrapper for aligning link and title */
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-wrapper .forgot-title {
  font-size: 30px;
  text-align: center;
  flex-grow: 1;
  margin: 0;
  padding-right: 40px;
}

.header-wrapper a {
  font-size: 20px;
  color: var(--text-color);
}

.header-wrapper a .tooltiptext {
  font-size: 14px;
}

.forgot-input-box {
  position: relative;
  width: 100%;
  margin: 20px 0;
}

.forgot-input-box input {
  width: 100%;
  background: white;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 16px;
  padding: 20px 45px 20px 20px;
  color: var(--text-color);
  margin-top: 10px;
}

.forgot-input-box input::placeholder {
  color: var(--text-color);
}

.forgot-btn {
  width: 100%;
    height: 50px;
    background: var(--btn);
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    color: white;
    font-weight: 400;
    transition: 0.3s;
}
.forgot-btn:hover,
.forgot-btn:focus {
  background-color: #000000;
  color: #ffffff;
}
.forgot-btn:active {
  background: #000000;
  color: rgba(255, 255, 255, 0.7);
}
.forgot-btn:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}

.forgot-alert {
  background-color: var(--alert-color);
  color: var(--alert-text-color);
  padding: 15px;
  margin: 10px 0;
  border: 1px solid var(--alert-text-color);
  border-radius: 5px;
  text-align: center;
}

.tooltiptext {
  visibility: hidden;
  width: 160px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position the tooltip above the element */
  left: 50%;
  margin-left: -80px; /* Center the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 14px;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px; /* Center the arrow */
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.tooltiptext {
  visibility: visible;
  opacity: 1;
}
