
<head>
    <link rel="stylesheet" href="./css/indexCss/index.css">
    <style>
      
    </style>
  </head>
  <body>
    <div class="container">
      <div class="contentfistpage">
        <div class="weltext">
          <p>
            สร้างประสบการณ์การจัดการงานที่รวดเร็ว<br /><span
              >มีประสิทธิภาพผ่านเว็บแอปพลิเคชันบริหารงาน</span
            >
          </p>
          <a href="/login">ลองเลย!</a>
        </div>
        <div class="imgfpage">
          <img src="/img/personpic.svg" alt="person" /> <!-- เปลี่ยน src เป็น /img/ -->
        </div>
        <div class="loginregiser">
          <h1 class="headerText">เข้าร่วมเพื่อจัดการงานของคุณ</h1>
          <div class="buttonlohre">
            <div class="loggoogle">
              <a class="go" href="/auth/google">ลงชื่อเข้าใช้ด้วย Google
                <span class="google-icon"><i class="fab fa-google"></i></span>
              </a>
            </div>
            
            <div class="line">
              <div class="line1"></div>
              <span>หรือ</span>
              <div class="line2"></div>
            </div>
            <a class="logtask" href="/login">เข้าสู่ระบบ</a>
            <div class="register">
              <div class="textre">ยังไม่มีบัญชี?</div>
              <a class="regtask" href="/register">สร้างบัญชี</a>
            </div>
          </div>
        </div>
      </div>
      <div class="linefooter"></div>
      <div class="footer"><p>&copy; 2024 TaskManage Company.</p></div>
    </div>
  </body>